@charset 'utf-8';

#droneStream {
    width: '1920';
    height:'1080';
}
#droneStream: -webkit-full-screen {width: 100%; height: 100%;}
#droneStream: -moz-full-screen {width: 100%; height: 100%;}
#droneStream: -ms-full-screen {width: 100%; height: 100%;}
#droneStream: -o-full-screen {width: 100%; height: 100%;}
#droneStream: full-screen {width: 100%; height: 100%;}
